body {
    background-image: url("../images/dust-scratches.png");
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;  
}

header {
    background: white;
    border-bottom-style: solid;
    border-color: #cccccc;
    border-width: 1.5px;
    height: 51.5px;
    margin-bottom: 30px;
}

h1 {
    color: white;
    font-size: 150%;
    font-weight: bold;
}

h2 {
    color: #4aaaa5;
    font-size: 130%;
    font-weight: bold;
}

h3 {
    color: #4aaaa5;
    text-align: center;
    font-size: 120%;
}

.wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    margin-bottom: 20px;
    color: #333;
    background: #ffffff;
    height: 50px;
}

.my-name {
    float: left;
    background-color: #4aaaa5;
    padding: 13px;
    padding-left: 21px;
    padding-right: 21px;
    margin: 0;
}

.navigation-bar {
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: #777777;
    text-align: center;
    padding: 16.9px;
    padding-left: 17.7px;
    padding-right: 17.7px;
    text-decoration: none;
}

li a:hover {
    background-color:  #fafafa;
}

.content {
    width: 610px;
    float: left;
    background: white;
    padding: 20px;
    border-style: solid;
    border-color: #dddddd;
    border-width: 1px;
}

.profile-picture {
    width: 200px;
    height: 270px;
    float: left;
    margin-right: 20px;
    margin-bottom: 15px;
}

.main-bio {
    display: inline;
}

.sidebar {
    width: 230px;
    background: white;
    float: right;
    padding: 20px;
    border-style: solid;
    border-color: #dddddd;
    border-width: 1px;
}

.github-icon,
.linkedin-icon,
.stackoverflow-icon {
    float: left;
    margin: 1px;
    padding: 7px;
}

.github-icon:hover,
.linkedin-icon:hover,
.stackoverflow-icon:hover {
    background-color:  #fafafa;
}




